@import "tailwindcss";

@theme {
  --font-manrope: var(--font-manrope), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-sans: var(--font-manrope), var(--font-inter), sans-serif;
}
